* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif; /* Default font for the body */
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #C4E6E6 ;
  color: black;
}

header h1 {
  margin-bottom: 10px;
}

.contact-info {
  margin-top: 10px;
}

.contact-info a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

h2 {
  margin-top: 20px;
  border-bottom: 2px solid #4bb8df;
  padding-bottom: 5px;
}

h3 {
  margin-top: 15px;
}

h4 {
  margin: 5px 0;
}

.edu-entry, .exp-entry {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

@media (max-width: 768px) {
  body {
      padding: 10px;
  }

  header h1 {
      font-size: 24px;
  }

  .contact-info {
      font-size: 14px;
  }
}

/* All headings and paragraph styles are now set to Work Sans */
h1, h2, h3, h4, p, blockquote {
  font-family: 'Work Sans', sans-serif; /* Use Work Sans for headings, paragraphs, and blockquotes */
}
